.receitas{
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    
}
.receitas div:hover{
	transform: scale(1.1);
}

@media screen and (min-width: 0){ /*Responsividade para celular*/
    .receitas{
        padding: 5rem 0 0 1rem;
    }
}
@media screen and (min-width: 768px) {/*Responsividade para tablet*/
    .receitas{
        padding: 5rem 0 0 2.5rem;
    }
}
@media screen and (min-width: 992px) {/*Responsividade para computadores*/
    .receitas{
        padding: 5rem 0 0 5rem;
    }
}